@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
header{
    background-color: black;
    color: white;
    padding: 15px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav >div>a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
}
main{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
form{
    gap: 12px;
    display: flex;
    flex-direction: column;
}
input{
    padding: 10px;
    width:1200px;
    border-radius: 0px;
    border: 1px solid #000000;
}
button{
    white-space: nowrap;
    margin-top: 10px;
    align-self: flex-start;
    padding: 7px;
    background-color: black;
    color: white;
    border-radius: 0px;
    border: none;
    width: 130px;
}
::placeholder{
    color: black;
}
p{
    align-self: flex-start;
    margin-left: 30px;
}